<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ms.robin.TeamsMqttBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ms.robin.TeamsMqttBridge.Properties.Settings>
            <setting name="TeamsToken" serializeAs="String">
                <value />
            </setting>
            <setting name="MqttUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="MqttUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MqttPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Autodiscover" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NodeName" serializeAs="String">
                <value />
            </setting>
        </ms.robin.TeamsMqttBridge.Properties.Settings>
    </userSettings>
</configuration>